<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>浜崎あゆみ - MY ALL</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>黄艺明 - 我们的天空</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>酒井法子 - 碧绿色的兔子</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>酒井法子 - 碧いうさぎ</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>酒井法子 - 镜のドレス</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>Dana Winner - Moonlight Shadow</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>Eric Church - Give Me Back My Hometown</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>Jem - It's Amazing</string>
	</dict>
	<dict>
		<key>collect</key>
		<true/>
		<key>songName</key>
		<string>Lady GaGa - Bad Romance</string>
	</dict>
    <dict>
        <key>collect</key>
        <true/>
        <key>songName</key>
        <string>Lady GaGa - Poker Face</string>
    </dict>
    <dict>
        <key>collect</key>
        <true/>
        <key>songName</key>
        <string>Selena Gomez  The Scene - Who Says</string>
    </dict>
    <dict>
        <key>collect</key>
        <true/>
        <key>songName</key>
        <string>SMAP - 世界に一つだけの花</string>
    </dict>
    <dict>
        <key>collect</key>
        <true/>
        <key>songName</key>
        <string>Zedd,Selena Gomez - I Want You to Know (feat. Selena Gomez)</string>
    </dict>
</array>
</plist>
